@import '../../../../../libs/ui/src/styles/_colours.scss';

.hero {
  min-height: 50vh;
  display: flex;
  background-image: url('../../../assets/depositphotos_271228964-stock-photo-photo-set-for-the-game.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: $white;
  filter: drop-shadow(1px 5px 5px #222222);
}

.h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.25rem 0 2rem 0;
  color: $white;
  filter: drop-shadow(1px 5px 5px #222222);
}

.button {
  filter: drop-shadow(1px 5px 5px #222222);
}
