$grey: #222222;

/* SCSS RGB */
$timberwolf: rgba(218, 215, 205, 1);
$laurel-green: rgba(163, 177, 138, 1);
$fern-green: rgba(88, 129, 87, 1);
$hunter-green: rgba(58, 90, 64, 1);
$brunswick-green: rgba(52, 78, 65, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-right: linear-gradient(
  90deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-left: linear-gradient(
  270deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);
$gradient-radial: radial-gradient(
  #dad7cdff,
  #a3b18aff,
  #588157ff,
  #3a5a40ff,
  #344e41ff
);

// /* SCSS RGB */
// $rich-black-fogra-29: rgba(4, 8, 15, 1);
// $glaucous: rgba(80, 125, 188, 1);
// $baby-blue-eyes: rgba(161, 198, 234, 1);
// $light-steel-blue: rgba(187, 209, 234, 1);
// $gainsboro: rgba(218, 227, 229, 1);

// /* SCSS Gradient */
// $gradient-top: linear-gradient(
//   0deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-right: linear-gradient(
//   90deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-bottom: linear-gradient(
//   180deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-left: linear-gradient(
//   270deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-top-right: linear-gradient(
//   45deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-bottom-right: linear-gradient(
//   135deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-top-left: linear-gradient(
//   225deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-bottom-left: linear-gradient(
//   315deg,
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
// $gradient-radial: radial-gradient(
//   $rich-black-fogra-2,
//   $glaucous,
//   $baby-blue-eyes,
//   $light-steel-blue,
//   $gainsboro
// );
