@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '../../../libs/ui/src/styles/_colours.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: unset;
  background-color: $timberwolf;
}

.app {
  flex: 1;
}
