@import "../../../styles/colours";

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-size: 15px;
        font-weight: 600;
        color: $grey;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -6px;
          left: 0;
          background-color: $hunter-green;
          visibility: hidden;
          width: 0px;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover {
          color: $hunter-green;
          &:before {
            visibility: visible;
            width: 100%;
          }
        }
      }
    }
  }
}
